.navbar-cdvs{
  background-color: #0F9FFA;    
}

.navbar-nav{
  text-align: right;
  float: right;
}

a{
  color: white;
  float: right;
}

.footer {
position: relative;
left: 0;
bottom: 10%;
width: 100%;
margin-top: 18%;
background-color:#0F9FFA;   
color: white;
text-align: center;
}

.infosys{
height: 25%;
width: 29%;
margin-top: 2%;
margin-bottom: 2%;
float: left;
}

.block-result{
background-color: #0F9FFA; 
color: white;
text-align: center;  
font-weight: bold;
}

.block-result-correct{
background-color: #0F9FFA; 
color: green;
text-align: center;  
font-weight: bold;
}

.block-result-fail{
background-color: #0F9FFA; 
color: red;
text-align: center;  
font-weight: bold;  
}

.block-result-cover{
background-color: #0F9FFA; 
color: yellow;
text-align: center;   
font-weight: bold; 
}

.category{
/* margin-left: 1.7%; */
background-color:  white;
border-color: white;
}

.category-graph{
/* margin-right: 2.7%; */
background-color: white;
border-color: white;
}

.btn-new{
background-color: #0F9FFA; 
color: white;
}
/* rgb(201, 195, 195);  */
.section-heading{
background-color:  #0F9FFA; 
color:white;
margin-left: 15.5%;
margin-right: 12%;
padding-top: 1%;
padding-bottom: 1%;
padding-left: 1%;
}